/* src/components/Header/Navbar/Navbar.css */
.navbar {
    display: flex;
    align-items: center; /* Vertically center items */
}

.navbar-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-link {
  text-decoration: none;
  color: white;
  margin-left: 20px;
}