/* src/components/Footer/Footer.css */
.footer {
  background-color: rgb(231, 231, 231);
  color: white;
  padding: 20px 0;
  margin-top: 20px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-section {
  border: 1px solid green
}